In [390]:
import pandas as pd

data = pd.read_csv("BMW Sales.csv")
data.head(2)

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low

In [391]:
data.drop_duplicates(inplace=True)

In [392]:
data.isnull().sum()

Model                   0
Year                    0
Region                  0
Color                   0
Fuel_Type               0
Transmission            0
Engine_Size_L           0
Mileage_KM              0
Price_USD               0
Sales_Volume            0
Sales_Classification    0
dtype: int64

In [393]:
Min_price = data["Price_USD"].min()
Min_price

np.int64(30000)

In [394]:
Max_price = data["Price_USD"].max()
Max_price

np.int64(119998)

In [395]:
data.shape
data.info
data.describe

<bound method NDFrame.describe of           Model  Year         Region   Color Fuel_Type Transmission  \
0      5 Series  2016           Asia     Red    Petrol       Manual
1            i8  2013  North America     Red    Hybrid    Automatic
2      5 Series  2022  North America    Blue    Petrol    Automatic
3            X3  2024    Middle East    Blue    Petrol    Automatic
4      7 Series  2020  South America   Black    Diesel       Manual
...         ...   ...            ...     ...       ...          ...
49995        i3  2014           Asia     Red    Hybrid       Manual
49996        i3  2023    Middle East  Silver  Electric       Manual
49997  5 Series  2010    Middle East     Red    Petrol    Automatic
49998        i3  2020           Asia   White  Electric    Automatic
49999        X1  2020  North America    Blue    Diesel       Manual

       Engine_Size_L  Mileage_KM  Price_USD  Sales_Volume Sales_Classification
0                3.5      151748      98740          8300                 High
1                1.6      121671      79219          3428                  Low
2                4.5       10991     113265          6994                  Low
3                1.7       27255      60971          4047                  Low
4                2.1      122131      49898          3080                  Low
...              ...         ...        ...           ...                  ...
49995            4.6      151030      42932          8182                 High
49996            4.2      147396      48714          9816                 High
49997            4.5      174939      46126          8280                 High
49998            3.8        3379      58566          9486                 High
49999            3.3      171003      77492          1764                  Low

[50000 rows x 11 columns]>

In [396]:
stats = data[data["Year"] > 2022]

In [397]:
cond = data[data["Engine_Size_L"]>4]

In [398]:
data.rename(columns={"Price_USD": "Price", "Sales_Value": "Sales" ,"Sales_Classification": "Sales_Level"}, inplace=True)

In [399]:
# Sorting by year (descending) and then by sales classification

data.sort_values(
    by=["Year", "Sales_Level"],
    ascending=[False, False]   ,inplace=True
)

In [400]:
data.to_csv("BMW_cleaned.csv", index=False)
print('Data Saved successfully!!!!')

Data Saved successfully!!!!